<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Praktikum 5.3</title>
</head>

<body>

    <div class="bg-yellow h-1"></div>
    <div class="bg-red h-1 w-6"></div>
    <div class="bg-green h-2"></div>
    <div class="bg-grey h-2 w-4"></div>
    <div class="bg-green h-2"></div>
    <div class="bg-blue h-1 w-8"></div>


</body>

</html>
