div {
    border: 1px solid black;
    display: inline-block;
    height: 45em;
    width: 20em;
    margin: 1em;
}

.w-4 {
    width: 41em;
}
.w-6 {
    width: 64em;
}
.w-8 {
    width: 87em;
}

.h-1 {
    height: 10em;
}
.h-2 {
    height: 20em;
}
.h-4 {
    height: 40em;
}

.bg-red {
    background-color: pink;
}
.bg-green {
    background-color: lightgreen;
}
.bg-yellow {
    background-color: lightyellow;
}
.bg-blue {
    background-color: lightblue;
}
.bg-grey {
    background-color: lightgray;
}
